.recipe-container{
    width: 100%;
    min-height: 100svh;
    padding-top: var(--nsr-padding6);
    padding-bottom: var(--nsr-padding5);
    background-color: var(--nsr-color12);
    background-image: var(--nsr-bimage4);
    position: relative;
}