.home {
	width: 100%;
	min-height: 100svh;
	flex-wrap: wrap;
	gap: var(--nsr-gap5);
	padding-top: var(--nsr-padding6);
	padding-bottom: var(--nsr-padding5);

	background-color: var(--nsr-color10);
	background-image: var(--nsr-bimage2);
}
.areas-link {
	width: min-content;
}
@media (max-width: 500px) {
	.home {
		gap: 15px;
	}
}
